.titulo-pagina {
  padding-top: 5rem;
  font-family: var(--font-formal);
  color: var(--color-dorado);
  padding-left: 4rem;
  margin-top: 2rem;
}

.titulo-pagina p {
  font-family: var(--font-principal);
}

.items-busqueda {
  /* border-color: red;
  border-style: dotted;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1500px;
  padding: 10px;
  box-sizing: border-box;
}

.item-busqueda {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.contenedor-general {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-profesores {
  background-color: var(--color-rojo);
  width: 90%;
  max-width: 1800px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.centro-blanco {
  background-color: var(--color-base);
  width: 90%;
  max-width: 1800px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tabla-centro {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.tabla-centro thead th {
  font-family: var(--font-principal);
  text-align: left;
  padding: 12px 15px;
  font-weight: 600;
  font-size: medium;
  border-bottom: 2px solid var(--color-dorado);
  box-sizing: border-box;
}

.boton {
  background-color: var(--color-base);
  border-color: var(--color-dorado);
  border-radius: 5%;
  border-width: 1.5px;
  color: var(--color-dorado);
  font-family: var(--font-principal) !important;
  width: 150px;
  height: 50px;
}

.boton:hover {
  background-color: var(--color-rojo);
  border-color: var(--color-rojo);
  color: var(--color-base);
}

.boton.activo {
  background-color: var(--color-rojo);
  border-color: var(--color-rojo);
  color: var(--color-base);
}

.descarga {
  margin-top: 4rem;
  padding-left: 4rem;
}
.boton-descarga {
  max-width: 8em;
  max-height: 8rem;
  color: var(--color-base);
  background-color: var(--color-rojo);
  border-color: var(--color-rojo);
  border-radius: 5%;
  font-family: var(--font-principal);
}

.boton-descarga:hover {
  background-color: var(--color-dorado);
  border-color: var(--color-dorado);
  color: var(--color-rojo);
  font-family: var(--font-principal);
}
