<div class="navbar">
  <app-sidenavbar></app-sidenavbar>
</div>

<div class="titulo-pagina">
  <h1>Resumen:</h1>
  <p>Selecciona el criterio que deseas mostrar junto con los datos del profesor.</p>
</div>

<div class="items-busqueda">
  <div
    class="item-busqueda"
    *ngFor="
      let boton of [
        'Nombre',
        'ID',
        'Academia',
        'Nivel máximo de estudios',
        'Nivel SNI',
        'Facultad',
        'No. incidencias',
        'Clases Actuales',
        'Clases Pasadas',
        'Idiomas que habla'
      ];
      let i = index
    "
  >
    <button
      type="button"
      class="boton"
      [ngClass]="{ activo: botonesActivos.includes(i) }"
      (click)="seleccionarBoton(i)"
    >
      {{ boton }}
    </button>
  </div>
</div>

<div class="contenedor-general">
  <div class="contenedor-profesores">
    <div class="centro-blanco">
      <table class="tabla-centro">
        <thead>
          <tr>
            <th *ngFor="let head of encabezadosSeleccionados">
              {{head}}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let c of resumen">
            <td *ngFor="let h of encabezadosSeleccionados">
              {{c[h] || 'Ninguno'}}

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="descarga">
  <button type="button" class="boton-descarga">Descarga aquí la tabla</button>
</div>
