body {
  background-color: var(--color-base);
}

.contenedor-general {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  padding-top: 4rem;
}

.contenedor-izquierda {
  border-color: red;
  border-style: dotted;
  width: 50%;
}

.logo {
  display: flex;
  flex-direction: row;
}

.contenedor-general .texto {
  font-family: var(--font-principal);
  color: var(--color-dorado);
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contenedor-general h1 {
  font-family: var(--font-formal);
}
.contenedor-general .formulario {
  background-color: var(--color-rojo);
  width: 80%;
  max-width: 600px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
}

.campo {
  color: var(--color-base);
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

button {
  border-radius: 5px;
  background-color: var(--color-dorado);
  border-color: var(--color-dorado);
  color: var(--color-base);
  padding: 1.5rem;
  font-size: large;
  align-self: center;
  width: 80%;
}

.input-container {
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid var(--color-base);
  outline: none;
  background-color: transparent;
  color: var(--color-base);
}

.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--color-base);
  transition: all 0.3s ease;
}

.input-field:focus + .input-label {
  top: 35px;
  font-size: 12px;
  color: var(--color-base);
}

.input-field:focus + .input-label + .input-highlight {
  width: 100%;
}

.titulo-input {
  color: var(--color-base);
  margin-bottom: 1rem;
  font-size: x-large;
}

.input-field .color {
  color: black;
}
