.profesores {
  padding-top: 5rem;
}

.imagen-profes {
  width: 100%;
  overflow: hidden;
  max-height: 400px;
}

.imagen-profes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frase-inspiradora {
  text-align: center;
  margin: 20px 0;
}

.frase-separador {
  width: 150px;
  border: none;
  border-top: 20px solid var(--color-dorado);
  margin: 0 auto 10px;
}

.btn {
  border-radius: 5%;
  border-color: var(--color-dorado);
  color: var(--color-dorado);
}

.btn:hover {
  background-color: var(--color-rojo);
  border-color: var(--color-rojo);
  color: var(--color-base);
}
.texto-frase {
  font-style: italic;
  font-size: 2rem;
  color: var(--color-dorado);
  font-size: 1.1rem;
  margin: 0;
}

.titulo-pagina {
  font-family: var(--font-formal);
  color: var(--color-dorado);
  padding-left: 4rem;
  margin-top: 2rem;
  /*border-color: red;
  border-style: dotted;*/
}

.titulo-pagina p {
  font-family: var(--font-principal);
}
.contenedor-busqueda {
  display: flex;
  justify-content: space-around; /* Los centra horizontalmente */
  align-items: center; /* Los alinea verticalmente */
  /*gap: 2rem; /* Espacio entre DEEK y el buscador  padding-left: 4rem;*/
  margin-top: 2rem;
}
.btn-outline-success {
  color: var(--color-base);
  border-color: var(--color-base);
}

.btn-outline-success:hover {
  background-color: var(--color-dorado);
  color: var(--color-rojo);
  border-color: var(--color-dorado);
}
.buscar-profesor {
  /* border-color: red;
  border-style: dotted;*/
  background-color: var(--color-rojo);
  width: 80%;
  max-width: 300px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.items-busqueda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 900px;
  padding: 10px;
  box-sizing: border-box;
}

.item-busqueda {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.item-busqueda h1 {
  margin-bottom: 5px;
  font-size: medium;
  font-family: var(--font-principal);
  color: var(--color-rojo);
}

.dropdown-item {
  width: 150px;
  padding: 8px 5px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: 1px solid var(--color-rojo);
  box-sizing: border-box;
}

.profes-aviso {
  font-family: var(--font-principal);
  color: var(--color-rojo);
  font-weight: 600;
  font-size: large;
}
.contenedor-general {
  /*border-color: red;
  border-style: dotted;*/
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-profesores {
  /*border-color: red;
  border-style: dotted;*/
  background-color: var(--color-rojo);
  width: 90%;
  max-width: 1800px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.centro-blanco {
  /*border-color: red;
  border-style: dotted;*/
  background-color: var(--color-base);
  width: 90%;
  max-width: 1800px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tabla-centro {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.tabla-centro thead th {
  font-family: var(--font-principal);
  text-align: left;
  padding: 12px 15px;
  font-weight: 600;
  font-size: medium;
  border-bottom: 2px solid var(--color-dorado);
  box-sizing: border-box;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.boton {
  background-color: var(--color-base);
  border-color: var(--color-dorado);
  border-radius: 5%;
  border-width: 1.5px;
  color: var(--color-dorado);
  font-family: var(--font-principal) !important;
}

.boton:hover {
  background-color: var(--color-rojo);
  border-color: var(--color-rojo);
  color: var(--color-base);
}

.datos-profesor {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-size: small;
  align-items: center;
  gap: 1rem;
}

.datos-profesor .nombre-prof h2 {
  font-size: 20px;
}

.datos-profesor .usuario-fake .fa-user {
  font-size: 30px;
}

.tabla-reportes {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.tabla-reportes thead th {
  font-family: var(--font-principal);
  text-align: left;
  padding: 12px 15px;
  font-weight: 600;
  font-size: medium;
  border-bottom: 2px solid var(--color-dorado);
  box-sizing: border-box;
}

.titulo-agregar h2 {
  font-family: var(--font-formal);
  font-size: 20px;
  color: var(--color-dorado);
}

.espacio {
  padding-right: 1rem;
  font-family: var(--font-principal);
}

.descripcion-reporte .letra-placeholder {
  font-family: var(--font-principal);
  font-weight: 200;
}
